%h2 Episode Archive
- if params[:by_topic]
  %h4= "Filtered by topic: #{params[:by_topic]}"
- if params[:q]
  %h4= "Searching using keyword: #{params[:q]}"
= render 'shared/search_bar'
= paginate @results
%table.table.table-striped.table-hover.table-responsive
  - unless @results.empty?
    %th Ep
    %th Date
    %th Excerpt
  - else
    %h4 No Results
  - @results.each do |result|
    - case result.searchable_type

    - when "Episode"
      %tr.episode
        %td.episode-name= link_to "Episode #{result.searchable.number}", episode_path(result.searchable)
        %td.episode-date= result.searchable.published_at.strftime("%d %b %y")
        %td.episode-date= result.excerpt.html_safe
    - when "EpisodeTimestamp"
      %tr.episode
        %td.episode-name= link_to "Episode #{result.searchable.episode.number}", episode_path(result.searchable.episode)
        %td.episode-date= result.searchable.episode.published_at.strftime("%d %b %y")
        %td.episode-date= result.excerpt.html_safe
= paginate @results
