%h2 Episode Archive
- if params[:by_topic]
  %h4= "Filtered by topic: #{params[:by_topic]}"
- if params[:search]
  %h4= "Searching using keyword: #{params[:search]}"
= render 'search_bar'
= paginate @episodes
%table.table.table-striped.table-hover.table-responsive
  %th Epi Number
  %th Date
  - @episodes.each do |episode|
    %tr.episode
      %td.episode-name= link_to "Episode #{episode.number}", episode_path(episode)
      %td.episode-date= episode.published_at.strftime("%d %b %y")
= paginate @episodes
