%h2 Episode Archive
- if params[:by_topic]
  %h4= "Filtered by topic: #{params[:by_topic]}"
- if params[:search]
  %h4= "Searching using keyword: #{params[:search]}"
= render 'shared/search_bar'
.col-md-12= paginate @episodes
.episodes
  - @episodes.each do |episode|
    = link_to episode_path(episode) do
      .col-md-3.col-sm-6.col-xs-12
        .episode
          .image
          .episode-title= episode.title
          .episode-date= episode.published_at.strftime("%d %b %y")
.col-md-12= paginate @episodes
