
.episode-title
  %h2= @episode.title
  %h5.aired-date= "Originally aired #{@episode.wecks_date_format}"
  .playback-buttons.action-buttons.col-md-8.col-md-offset-4
    - if @episode.prev
      .col-xs-12.col-md-3.action-button
        = link_to episode_path(@episode.prev) do
          .btn.btn-primary.btn-block
            %span.glyphicon.glyphicon-step-backward
              Prev
    - if @episode.next            
      .col-xs-12.col-md-3.action-button
        = link_to episode_path(@episode.next) do
          .btn.btn-primary.btn-block
            Next
            %span.glyphicon.glyphicon-step-forward
  = render "media"
%script{type: "text/x-handlebars", data: {template: {name: 'episode'}}}
  .ember-js-outlet {{outlet episode}}
- if @episode.description
  .description
    %b.description-label Description
    .description-text= @episode.description.html_safe
- unless @episode.topics.empty?
  .topics
    %b.topics-label Topics
    .topic-list= @episode.topic_list.to_sentence || "There are no topics attributed to this episode yet."

.action-buttons
  .col-xs-12.col-md-2.col-md-offset-3.action-button
    = link_to dope_episode_path(@episode) do
      .dope-link.btn.btn-success.btn-block{class: can_vote}
        %span.glyphicon.glyphicon-thumbs-up
        = "Dope - #{@episode.cached_votes_up}"
  .col-xs-12.col-md-2.action-button
    = link_to nope_episode_path(@episode) do
      .nope-link.btn.btn-danger.btn-block{class: can_vote }
        %span.glyphicon.glyphicon-thumbs-down
        = "Nope - #{@episode.cached_votes_down}"
  .col-xs-12.col-md-2.action-button
    = link_to(@episode.public_url, download: "uyd-episode-#{@episode.number}_#{@episode.wecks_date_format}.mp3") do
      .fell-off-link.btn.btn-primary.btn-block
        %span.glyphicon.glyphicon-download-alt
        Download
- unless current_user
  %i.action-buttons-help Please sign in to vote
%ul.nav.nav-tabs.episode-show{role:"tablist"}
  %li.active= link_to "Timestamps", "#timestamps", role: "tab", data: {toggle: "tab"}
  %li= link_to "Weck's Entry", "#wecks", role: "tab", data: {toggle: "tab"}
.tab-content
  - if @episode.episode_timestamps.any?
    .timestamps.tab-pane.active#timestamps
      - @episode.episode_timestamps.each do |timestamp|
        .timestamp 
          .timestamp-seconds{data: {timestamp_seconds: timestamp.timestamp}}= timestamp.display_timestamp
          .timestamp-topic.btn-default.btn-xs
            - timestamp.topic_list.each do |topic_name|
              = link_to topic_name, episodes_path(by_topic: topic_name)
          .timestamp-description= timestamp.description.html_safe

  - else
    %i There are no timestamps yet.
  .wecks-entry.content.tab-pane#wecks
    .entry= @episode.wecks_entry.try(:html_safe)
  .annotation.tab-pane#annotate
    %i Here is where you'll be able to add more timestamps.  Feature to be in place by August 24th.
    = render partial: 'annotate'
#comments
  .fb-comments{data: {href: request.original_url, numposts: "20", colorscheme: "light", width: '100%'} }

- content_for :facebook_meta do
  %meta{property: "og:title", content: "UYD #{@episode.title}" }
  - unless @episode.description.blank?
    %meta{property: "og:description", content: truncate(@episode.description, length: 75, omission: "...", separator: " ")}
  - else
    %meta{property: "og:description", content: "The Uhh Yeah Dude dancecast #{@episode.title}"}
  %meta{property: "og:image", content: image_url('uyd-fb-meta.jpg')}

- content_for :title do 
  UYD #{@episode.title}
- content_for :description do
  UYD #{@episode.title}
