.episode-title
  %h2= @episode.title
  %h5.aired-date= "Originally aired #{@episode.wecks_date_format}"
  %h5= link_to "Download epi", @episode.public_url, download: "uyd-episode-#{@episode.number}_#{@episode.wecks_date_format}.mp3"
  = render "media"
- if @episode.description
  .description
    %b.description-label Description
    .description-text= @episode.description.html_safe
- unless @episode.topics.empty?
  .topics
    %b.topics-label Topics -
    %i.topic-list= @episode.topic_list.to_sentence || "There are no topics attributed to this episode yet."
%ul.nav.nav-tabs.episode-show{role:"tablist"}
  %li.active= link_to "Timestamps", "#timestamps", role: "tab", data: {toggle: "tab"}
  %li= link_to "Weck's Entry", "#wecks", role: "tab", data: {toggle: "tab"}
.tab-content
  - if @episode.episode_timestamps.any?
    .timestamps.tab-pane.active#timestamps
      %table.table.table-striped.table-hover.table-responsive
        %th Timestamp
        %th Description
        %th Topic
        - @episode.episode_timestamps.each do |timestamp|
          %tr.timestamp 
            %td.timestamp-seconds{data: {timestamp_seconds: timestamp.timestamp}}= timestamp.display_timestamp
            %td.timestamp-description= timestamp.description.html_safe
            %td.timestamp-topic
              - timestamp.topic_list.each do |topic_name|
                = link_to topic_name, episodes_path(by_topic: topic_name)
  - else
    %i There are no timestamps yet.
  .wecks-entry.content.tab-pane#wecks
    .entry= @episode.wecks_entry.try(:html_safe)
  .annotation.tab-pane#annotate
    %i Here is where you'll be able to add more timestamps.  Feature to be in place by August 24th.
    = render partial: 'annotate'
#comments
  .fb-comments{data: {href: request.original_url, numposts: "20", colorscheme: "light", width: '100%'} }
