%h3 Uhh Yeah Dude Archive
%p= "All episodes found #{link_to 'here.', episodes_path}".html_safe
%p= "Wiki entries scraped from #{link_to "Weck's wiki", "http://www.uhhyeahdude.com/wiki"}".html_safe
%p= "Torrent of first 400 epis found #{link_to 'here.', 'http://thepiratebay.se/torrent/9825281/Uhh_Yeah_Dude_(Episodes_1-400)'}".html_safe
%i seatbelts
