#homepage
  %h1 Uhh Yeah Dude Episode Archive
  = link_to "Please support Uhh Yeah Dude on Patreon!", 'https://www.patreon.com/UHHYEAHDUDE?ty=h'
  %h4 Highest Voted Episodes
  .episodes.highest-voted.col-md-12
    - dopest_episodes(8).each do |episode|
      = link_to episode_path(episode) do
        .col-md-3.col-sm-4.col-xs-12
          .episode.episode-card
            .header-box
              .image
            .episode-info
              .episode-title= link_to episode.title, episode_path(episode)
              .episode-date= episode.published_at.strftime("%d %b %y")
  %h4 Most Popular Episodes This Week
  .episodes.most-popular.col-md-12
    - most_popular_episodes(8).each do |episode|
      = link_to episode_path(episode) do
        .col-md-3.col-sm-4.col-xs-12
          .episode.episode-card
            .header-box
              .image
            .episode-info
              .episode-title= link_to episode.title, episode_path(episode)
              .episode-date= episode.published_at.strftime("%d %b %y")
  .clearfix
  %p= "Wiki entries scraped from #{link_to "Weck's wiki", "http://www.uhhyeahdude.com/wiki"}".html_safe
  %i seatbelts

:coffee
  $ ->
    $('.highest-voted').slick
      slidesToShow: 4
      responsive: [
        {
          breakpoint: 990
          settings:
            slidesToShow: 3
        }
        {
          breakpoint: 768
          settings:
            slidesToShow: 2
        }
        {
          breakpoint: 480
          settings:
            slidesToShow: 1
            arrows: false
        }
      ]
    $('.most-popular').slick
      slidesToShow: 4
      responsive: [
        {
          breakpoint: 990
          settings:
            slidesToShow: 3
        }
        {
          breakpoint: 768
          settings:
            slidesToShow: 2
        }
        {
          breakpoint: 480
          settings:
            slidesToShow: 1
            arrows: false
        }
      ]
