!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = yield :facebook_meta
    %title= content_for?(:title) ? yield(:title) : 'UYD Archive'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Uhh Yeah Dude Archive'}"}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = auto_discovery_link_tag(:rss, episodes_url(format: :rss, by_direction: :desc))
  %body.container
    #fb-root
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

